<section id="apps">
	<h4>Sintatra Applications</h4>
	<ul>
		<li><a href="http://breakfast-tea.herokuapp.com/">Irish Breakfast/English Breakfast</a></li>
		<li><a href="http://beedaye.herokuapp.com/">What day is it?</a></li>
	</ul>
</section>