<h1>Chris Haack</h1>

<a href="http://chryus.wordpress.com/">Blog</a></br>
<a href="https://github.com/Chryus">Github</a>

<h3>Sites</h3>

<a href="http://breakfast-tea.herokuapp.com/">Irish Breakfast/English Breakfast</a>


