.cubes#left
	%ul
		%h3 Social
		%li
			%a{:href=>"http://chryus.wordpress.com/"}Blog
		%li
			%a{:href=>"https://github.com/Chryus"}Github

.cubes#middle
	%ul
		%h3 Apps
		%li
			%a{:href=>"http://breakfast-tea.herokuapp.com/"}Irish Breakfast/English Breakfast
		%li>
			%a{:href=>"http://beedaye.herokuapp.com/"}What day is it?

.cubes#right




