
<!-- <section class="cubes" id="left">
	<ul>
		<h3>Social</h3>
		<li><a href="http://chryus.wordpress.com/">Blog</a></li>
		<li><a href="https://github.com/Chryus">Github</a></li>
	</ul>
</section>

<section class="cubes" id="middle">	
	<ul>
		<h3>Apps</h3>
		<li><a href="http://breakfast-tea.herokuapp.com/">Irish Breakfast/English Breakfast</a></li>
		<li><a href="http://beedaye.herokuapp.com/">What day is it?</a></li>
	</ul>
</section>

<section class="cubes" id="right">
</section> -->



