body {
	font-family: Futura, sans-serif;
	background-color: rgba(0, 0, 0, 0.75);
}

h2 {
	margin: auto;
}

nav {
	position: relative;
	background: #e0e2e6;
	border-radius: 5px;
	padding: 1px 0 10px 0;
}

nav li {
  display: inline;
  margin: 0 5px;
}

nav ul {
  margin: auto;
  text-align: center;
}

#left {
	width: 21%;
	float: left;
	padding-right: 2px;

}

#middle {
	width: 67%;
	padding-left: 1px;
	margin-left: 4.5px;
}

#right {
	width: 10%;
	float: right;
	padding-left: 10px;
	background-color: rgba(175, 58, 58, 1.0);
}

.cubes {
	display: inline-block;
	height: 500px;
	margin: 5px 0;
	background: #e0e2e6;
	border-radius: 5px;
}

address {
	display: inline;
}

#email {
	text-decoration: none;
}
