body {
	font-family: Futura, sans-serif;
}

h2 {
	margin: auto;
}

nav {
	position: relative;
	background: #e0e2e6;
	border-radius: 5px;
}

nav li {
  display: inline;
  margin: 0 5px;
}

nav ul {
  margin: auto;
  text-align: center;
}

#left {
	width: 25%;

}

#right {
	width: 71%;
}

.cubes {
	display: inline-block;
	height: 350px;
	margin: 5px auto;
	padding: 10px;
	background: #e0e2e6;
	border-radius: 5px;
}

address {
	display: inline;
}

#email {
	text-decoration: none;
}
